#about {

  & .container {
    gap: 4rem;
    align-items: center;
    
    & header {   
      flex-direction: column;
      margin-inline: auto;
      text-align: center;
      
      & h2 {
        display: flex;
        font-size: var(--title-md);
      }
      
      & p {
        font-size: var(--text-sm);
      }
      
      & img {
        display: inline;
        width: 2rem;
      }
    }

    & .book-kit {
      position: relative;
      width: 375px;
      height: 19.9375rem;
      
      & > * {
        position: absolute;
        display: flex;
        flex-direction: column;
      }

      & .blur {  
        width: 18.625rem;
        height: 18.625rem;
        filter: blur(103px);
        border-radius: 50%;

        opacity: .5;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      & span {
        font-size: var(--text-2xs);
      }

      & > img {
        z-index: 1;
        
        top: 53.7703px;
        left: 87.8618px;
        
        width: 9.824rem;
      }

      & .bookmark, .pin, .book {
        scale: 0;
        transition: scale .5s;
      }

      & .book {
        width: 5.5625rem;
        gap: 11.31px;

        top: 124.77px;
        left: 110.46px;    
        
        animation: back-book 1s ease forwards;

        & img {
          width: 58.735px;
          margin-left: auto;
        }
      }   

      & .bookmark {
        top: 59.58px;
        left:137.27px;

        animation: back-bookmark 1s ease forwards;

        .content {
          width: 7.594rem;
          height: 11.79rem;
          
          position: relative;

          & > * {
            position: absolute;
          }

          & :nth-child(1) {
            width: 3.618rem;
            height: 180.413px;
            transform: rotate(22.093deg);

            right: 30px;
          }

          & :nth-child(2) {
            width: 58.399px;
            height: 180.413px;
            transform: rotate(11.717deg);

            top: -34.55px;
            right: 70px;
          }

          & :nth-child(3) {
            width: 48.958px;
            height: 50.994px;
            
            bottom: -39.39px;
            left: 23.37px;
          }

          & :nth-child(4) {
            bottom: -55.17px;
          }
        }
        

      }

      & .pin {
        top: 154.56px;
        left: 111.12px;

        animation: back-pin 1s ease forwards;

        .content {
          width: 6.884rem;
          height: 6.969rem;
          
          & > * {
            position: absolute;
          }

          & :nth-child(2) {
            width: 35.292px;
            height: 42.747px;

            top: 23.15px;
            left: 14.69px;
          }

          & :nth-child(3) {
            width: 74.887px;
            height: 85.405px;
            transform: rotate(-7.548deg);

            top: 46.36px;
            right: 0;
          }
        }

      }

      &:hover {

        & .book, .bookmark, .pin {
          scale: 1;
        }

        & .book {
          animation: move-book 1s ease forwards;
        }

        & .bookmark {
          animation: move-bookmark 1s ease forwards;
        }

        & .pin {
          animation: move-pin 1s ease forwards;
        }
      }
      
    }
  }
}

/* animations */

@keyframes move-book {
 
  50% {
    transform: translateX(-100px) translateY(-100px);
  }

  70% {
    transform: translateX(-101px) translateY(-101px);
  }
 
  100% {
    transform: translateX(-100px) translateY(-100px);
  }
}

@keyframes back-book {
  from {
    transform:  translateX(-100px) translateY(-100px);
  }
  to {
    transform:  translateX(0px) translateY(0);
  }
}

@keyframes move-pin {

  50% {
    transform: translateX(-100px);
  }

  70% {
    transform: translateX(-101px);
  }
 
  100% {
    transform: translateX(-100px);
  }
}

@keyframes back-pin {
  from {
    transform:  translateX(-100px);
  }
  to {
    transform:  translateX(0px);
  }
}

@keyframes move-bookmark {
  50% {
    transform: translateX(100px);
  }

  70% {
    transform: translateX(101px);
  }
 
  100% {
    transform: translateX(100px);
  }
}

@keyframes back-bookmark {
  from {
    transform:  translateX(100px);
  }
  to {
    transform:  translateX(0px);
  }
}

/* responsive design*/

@media (width>=80em) {

  #about {
    height: 99.125rem;
    
    & .container {
      gap: 5.5rem;
      
      & header {
        margin-top: 14.6875rem;
      }
      
      & .book-kit {
        width: calc(100% + 15rem);
        height: 57.5rem;

        & .blur {  
          top: 366px;
         
          width: 58.125rem;
          height: 58.125rem;
          filter: blur(200px);
        }

        & > img {  
          top: 134px;
          left: 463px;
          
          width: 29.1875rem;
        }

        .book {
          width: 16.531rem;
          gap: 1.469rem;

          top: 270px;
          left: 540px;  

          & > img {
            width: 10.906rem;
          }
        }   

        .bookmark {
          top: 149.16px;
          left: 618.98px;

          .content {
            width: 22.517rem;
            height: 35.088rem;

            & :nth-child(1) {
              width: 10.75rem;
              height: 33.5rem;
      
              right: 90px;
            }

            & :nth-child(2) {
              width: 10.75rem;
              height: 33.5rem;
              transform: rotate(12deg);
          
              top: -103.16px;
              right: 220px;
            }

            & :nth-child(3) {
              width: 9.09rem;
              height: 9.47rem;
              
              bottom: -134.93px;
              left: 68.32px;
            }

            & :nth-child(4) {
              bottom: -169.43px;
            }
          }
        }

        .pin {
          top: 455px;
          left: 562px;

          .content {
            width: 19.106rem;
            height: 23.006rem;

            & :nth-child(2) {
              width: 6.553rem;
              height: 7.938rem;

              top: 45px;
              left: 16.65px;
            }

            & :nth-child(3) {
              width: 13.875rem;
              height: 15.875rem;
              transform: rotate(-8deg);
            
              top: 114.1px;
              right: 0;
            }
          }
        }
      
      }
    }
  }


  @keyframes move-book {
  
    50% {
      transform: translateX(-300px) translateY(-200px);
    }

    70% {
      transform: translateX(-303px) translateY(-203px);
    }
  
    100% {
      transform: translateX(-300px) translateY(-200px);
    }
  }

  @keyframes back-book {
    from {
      transform:  translateX(-300px) translateY(-200px);
    }
    to {
      transform:  translateX(0px) translateY(0px);
    }
  }

  @keyframes move-bookmark {

    50% {
      transform: translateX(300px);
    }

    70% {
      transform: translateX(303px);
    }
  
    100% {
      transform: translateX(300px);
    }
  }

  @keyframes back-bookmark {
    from {
      transform:  translateX(300px);
    }
    to {
      transform:  translateX(0px);
    }
  }

  @keyframes move-pin {

    50% {
      transform: translateX(-300px);
    }

    70% {
      transform: translateX(-303px);
    }
  
    100% {
      transform: translateX(-300px);
    }
  }

  @keyframes back-pin {
    from {
      transform:  translateX(-300px);
    }
    to {
      transform:  translateX(0px);
    }
  }

}

/* reduce animations */

@media (prefers-reduced-motion: reduce) {
  
  #about .container {

      & .book-kit {

        .book, .bookmark, .pin {
          scale: 1;
          animation: none !important;
        }

      }

      & .book {
        transform: translateX(-100px) translateY(-100px);
      }   

      .bookmark {
        transform: translateX(100px);
      }
        
      .pin {
        transform: translateX(-100px);
      }

    }
 
  @media (width>=80em) {
    #about .container {

      & .book {
        transform: translateX(-300px) translateY(-200px);
      }   

      .bookmark {
        transform: translateX(300px);
      }
        
      .pin {
        transform: translateX(-300px);
      }

    }
  }
}

  
