#pricing {

  & .container {
    padding: 6.5rem 3.25rem;
    text-align: center;

    & h2 {
      font-size: var(--title-md);
    }
    
    & .cards {
      align-items: end;
      margin-top: 1rem;
      
      width: 20rem;
      height: 28.5rem;
      gap: 1rem;
      
      overflow: hidden;

      & .roll {
        width: 54rem;
        gap: 1rem;

        &:hover {
         animation: movecards 8s linear infinite both;
         cursor: pointer;
        }
      }
      
      & .card {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        
        width: 17rem;
        height: 25rem;
        padding: 2rem 1.75rem 2rem;

        border-radius: 1.5rem;
        border: 1px solid var(--shape-stroke);
        background: var(--shape-base);
        
        transition: all .5s ease;


        & header {
          text-align: start;

          & span {
            color: var(--blue-light);
            font-weight: 700;
          }
  
          & h3 {
            font-size: 2.5rem;
            margin-top: 1.5rem;
            margin-bottom: .5rem;
  
            & small {
              font-size: 1rem;
            }
          }

          & p {
            color: var(--text-label);
            font-size: var(--text-sm);
            line-height: 140%;
          }
          
        }
        
        & .details {
          flex-direction: column;
          gap: 1.5rem;

          & ul {
            gap: 12px;
            max-width: 13rem;
          }
  
          & li {
            display: flex;
            width: 224px;
            font-size: var(--text-xs);
            gap: 8px;
          }
  
          & li img {
            width: 14.061px;
            height: 14.073px;
          }

          a.button {
            justify-content: center;
            align-items: center;
            z-index: 1;
                      
            &::before {
              font-weight: 700;
              background-color: var(--blue-dark);
              z-index: 0;
            }

            &::after {
              background-color: var(--blue-light);
              z-index: 0;
            }

          }
        }

        &:hover {
          border-color: var(--shape-hover);
          background-color: var(--shape-hover);
          box-shadow: 0 0 66px 0 rgba(53, 139, 185, 0.10);
        }

      }

      & .card:nth-child(5) a.button::before {
        content: 'Assinar Mensal';
      }
      
      & .card:nth-child(6) {
        position: relative;

        & > img {
            position: absolute;
            width: 1px;
            top: 0;
            z-index: -1;

            transition: transform .5s;
        }

        &::before {
          position: absolute;
          
          display: flex;
          align-items: center;
          justify-content: center;
          height: 1.494rem;
          padding: 0.563rem 1.25rem;
          
          border-radius: 1.5rem;
          background: var(--shape-stroke);
          
          content: 'POPULAR';
          font-size: 10px;
          font-weight: 700;
          letter-spacing: 5%;

          top: 23.91px;
          right: 24.43px;
          z-index: 1;
        }
      
        & header span {
          color: var(--pink-light);
        }
        
        & .details a.button {
           
          &::before {
            content: 'Assinar Semestral';
            background-color: var(--pink-dark);
          }

            &::after {
              background-color: var(--pink-light);
            }
        }

        &:hover{
          position: relative;
        
          & > img {
            position: absolute;
            width: 45px;
            transform: translateY(-49.9px);
            z-index: -1;
          }
        }
      }

      & .card:nth-child(7) a.button::before {
        content: 'Assinar Anual';
      }

    }
  }
}

/* animations */

@keyframes movecards {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(0);
  }
 
  20% {
    transform: translateX(-16.5rem);
  }
  45% {
    transform: translateX(-16.5rem);
  } 

  50% {
    transform: translateX(-34rem);
  } 
  75% {
    transform: translateX(-34rem);
  }

  80% {
    transform: translateX(-16.5rem);
  }
  95% {
    transform: translateX(-16.5rem);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes cards-1 {
  to {
    scale: 1;
    transform: translateX(-200px) translateY(40px) rotate(-8deg);
  }
}

@keyframes cards-3 {
  to {
    scale: 1;
    transform: translateX(200px) translateY(40px) rotate(8deg);
  }
}

/* responsive */

@media (width>=80em) {

  #pricing {
    position: relative;
    background: url('../assets/images/pricing-background.png') no-repeat;
    
    & .blur {
      position: absolute;
      width: 59rem;
      height: 59rem;
      
      background: var(--shape-base);
      border-radius: 59rem;
      filter: blur(284px);
      
      left: 50%;
      transform: translateX(-50%);
    }
    
    & .container {
      width: 100%;
      margin: 6.135rem auto 12.125rem;
      padding-top: 0;
      gap: 3.5rem;

      & h2 {
        width: 19.375rem;
        margin-inline: auto;
      }
      
      & .cards {
        width: 100%;
        height: 37.875rem;
        justify-content: center;
        align-items: center;

        & .roll {
          width: 65.625rem;
          height: 100%;
          position: relative;
          animation: none!important;

          & > img {
            position: absolute;
            transition: transform .8s ease;

            &:nth-child(1) {
              width: 1.625rem;

              top: 71px;
              left: 330.45px;   
            }

            &:nth-child(2) {
              width: 0.816rem;
              
              top: 109.55px;
              left: 326px;
            }

            &:nth-child(3) {
              width: 1.451rem;
             
              bottom: 68.78px;
              right: 341.43px;
            }

            &:nth-child(4) {
              width: 0.703rem;

              bottom: 68.1px;
              right: 385.75px;
            }
          }

          &:hover {

            & > img {

              &:nth-child(1) {
                transform: translateX(-293.21px) translateY(61px);    
              }

              &:nth-child(2) {
                transform: translateX(-292.28px) translateY(62.07px); 
              }

              &:nth-child(3) {
                transform: translateX(250.16px) translateY(30.11px);
              }

              &:nth-child(4) {
                transform: translateX(250.99px) translateY(30.37px);
              }
            }

            & .card:nth-child(5) {
              animation: cards-1 .8s forwards;
            }

            & .card:nth-child(6) {
              background-color: var(--shape-base);
            }

            & .card:nth-child(7) {
              animation: cards-3 .8s forwards;
            }
          }

          &:has(.card:nth-child(5):hover) {
            & > img {
              &:nth-child(1) {
                transform: translateX(-293.21px) translateY(61px) rotate(19.25deg);
              }

              &:nth-child(2) {
                transform: translateX(-292.28px) translateY(62.07px) rotate(21.34deg);
              }
            }
          }

          &:has(.card:nth-child(7):hover) {
            & > img:nth-child(3) {
              transform: translateX(250.16px) translateY(30.11px) rotate(-19.25deg);
            }

            & > img:nth-child(4) {
              transform: translateX(250.99px) translateY(30.37px) rotate(-21.34deg);
            }
          }        

          & .card {
            position: absolute;
          }

          & .card:nth-child(5) {
            top: 80px;
            left: 315px;
            transform: rotate(0deg);
            scale: 0;

            &:hover {
              translate: 0px -8px;
              z-index: 2;
            }
          }

          & .card:nth-child(6) {
            top: 82.0947px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
            background-color: var(--shape-hover);

            & > img:nth-child(1) {
              width: 45.05px;
              top: -51.19px;
              left: 32px;
              z-index: -2;
              transition: transform .5s ease;
            }

            &:hover {
              top: 68px;
              background-color: var(--shape-hover);

              & > img {
                transform: translateY(0px);
              }
            }
          }

          & .card:nth-child(7) {
            scale: 0;
            top: 80px;
            right: 315px;
            transform: rotate(0deg);

            &:hover {
              translate: 0px -8px;
              z-index: 2;
            }
          }
        }
      }
    }
  }
}

@media (width>=43.75em) {
  footer {
    padding: 6.25rem 0 0;  
  }
}

/* reduce animations */

@media (prefers-reduced-motion: reduce) {

  @media (width>=80em) {

    #pricing .container .cards .roll {
      animation: none!important;
      transform: none!important;

      & .card {
        &:nth-child(5) {
          top: 120px;
          left: 115px;
          transform: rotate(-8deg);
          scale: 1;
        }

        &:nth-child(7) {
          top: 120px;
          right: 115px;
          transform: rotate(8deg);
          scale: 1;
        }
      }

      & > img {
          &:nth-child(1) {
            transform: translateX(-293.21px) translateY(61px);  
          }

          &:nth-child(2) {
            transform: translateX(-292.28px) translateY(62.07px); 
          }

          &:nth-child(3) { 
            transform: translateX(250.16px) translateY(30.11px);
          }

          &:nth-child(4) {
            transform: translateX(250.99px) translateY(30.37px);
          }
      }
    }

    @keyframes cards-1 {  }
    @keyframes cards-3 {  }
  
  }

}

