.container {
  display: flex;
  flex-direction: column;
  padding-inline: 1.25rem;

  max-width: 375px;
  margin-inline: auto;
}

.flex {
  display: flex;
}

.desktop-only {
  display: none;
}

.blur {
  position: absolute;
  background: var(--pink-low);
  z-index: -1;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (width>=80em) {

  .container {  
    max-width: 90em;
    padding-inline: 7.5rem;
  }
  .desktop-only {
    display: initial;
  }
  
}